{% extends "admin_pages/base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Add Images</h4>
          <form class="forms-sample" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
              <label for="Folder">Select Folder</label>
              <select class="form-control" id="Folder" name="folder" required>
                {% for folder in folders %}
                <option value="{{ folder.id }}">{{ folder.name }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="form-group">
              <label for="ImageFile">Upload Images</label>
              <input type="file" class="form-control-file" id="ImageFile" name="image" accept="image/*" multiple required>
            </div>
            <!-- <div class="form-group">
              <label for="Description">Description</label>
              <textarea class="form-control" id="Description" name="description" rows="3" placeholder="Description (Optional)"></textarea>
            </div> -->
            <button type="submit" class="btn btn-primary me-2">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
